/* General style */
body, html {
  height: 100%;
}

body {
  color: black;
  font-family: Helvetica,Arial,sans-serif;
}

.wrapper {
  height: inherit;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.vertical-margin {
  margin: 1.5rem 0;
}

.vertical-margin-large {
  margin: 3rem 0;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
.nav li{
    display:inline;

}

.nav a:hover{
    background-color:lightgrey;


}




.nav a{
    display:inline-block;
    padding:10px;
     font-weight: 140%;
    color:#72bf44;
    font-size:20px;
}

.title {
  color:#72bf44;
}

.title-center {
  text-align: center;
  color:#72bf44;
}
/* Overwrite */
.row {
  margin-bottom: 0;
}

/* Default text style */
.footer-item-title {
  font-weight: 700;
  color: white;
}

.footer-item {
  color: white;
  font-size: 12px;
}

.footer-item:hover {
  text-decoration: underline;
}

/* Header */
.header {
  height: 7rem;
  display: flex;
  justify-content: space-between;;
  align-items: center;
}

.header .logo {
  width: 6rem;
}

.header button {
  border: 0;
  background-color: white;
  border-radius: 1rem;
  height: 0;
  margin-top: .5rem;
}

.header .buttons:hover {
  cursor: pointer;
}

.header form[role=search] {
  border: 1px solid #e6dcdc;
  border-radius: .3rem;
  display: flex;
  padding-left: 1rem;
  margin: 0 2rem;
  width: 100%;
}

.header input[type=search] {
  margin-bottom: 0;
  border: 0;
}

.header input[type=search]:focus {
  border: 0;
  box-shadow: none;
}

.header .search-icon {
  width: 2rem;
}

.search-icon-with-label {
  width: 3rem;
  margin-top: .5rem;
}

/* Main content */
.main {
  height: 55rem;
}

.main-left {
  height: 100%;
}

.main-center {
  height: 100%;
}

.main-right {
  height: 100%;
}

/* Promo cards */

.promo .card-image img {
  height: 15rem;
}

.promo .card-image .card-title {
  border-radius: .3rem;
  box-shadow: .2rem .2rem 1rem gray;
  font-size: 16px;
  background-color: #72bf44;
  padding: .3rem;
  margin: 1rem;
  cursor: pointer;
  transition: bottom .3s ease-in;
}

.promo .card-image .card-title:hover {
  bottom: .2rem;
}

/* Search cards */
.search-item .card-image img {
  width: inherit;
  height: 10rem;
  margin: 0 auto;
}

.card-title i {
  position: relative;
  top: .2rem;
}

.card .card-action a {
  color: black !important;
  font-weight: bold;
  font-size: 16px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination li.active a {
  background-color: #72bf44;
}


/* Filter breadcrumb */
.filter-breadcrumb {
  background-color: black;
  border-radius: .3rem;
}

/* Dropdown */
.dropdown-button {
  cursor: pointer;
}

/* Footer */
.pre-footer {
  background-image: url(../images/bg-footer.png);
  background-size: contain;
  height: 3.8rem;
}

.pre-footer img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #72bf44;
}

.carousel-slider {
  height: 220px !important;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
